@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

a {
  text-decoration: none;
}

.btn {
  @apply py-2 px-4 font-semibold rounded-lg shadow-md;
}
.btn-green {
  @apply text-white bg-green-500 hover:bg-green-700;
}
.btn-red {
  @apply text-white bg-red-500 hover:bg-red-700;
}
.btn-blue {
  @apply text-white bg-blue-500 hover:bg-blue-700;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #276678;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #1687a7;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}
.blog-preview h2 {
  font-size: 20px;
  color: #276678;
  margin-bottom: 8px;
}
.blog-preview p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
}
.blog-preview a {
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  color: #276678;
}
.blog-details div {
  margin: 20px 0;
}

/* create new blog form */
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  color: #276678;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.error-path {
  margin-top: 1.5em;
}
